<?xml version="1.0"?>
<model>
  <name>UWF Golf Cart</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  
  <author>
    <name>UWF AGC Team</name>
    <email>agc@uwf.edu</email>
  </author>
  
  <description>
    Club Car Pioneer 1200 autonomous golf cart for UWF AGC project.
    Ackermann steering, RWD, with LiDAR, GPS, IMU, and wheel encoders.
  </description>
</model>
